{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    
    <style>
        h1 {
          text-align: left;
        }
    </style>
{% endblock head_title %}
{% block content %}
    <h1>{% trans "Sign Up" %}</h1>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Sign Up" %}</button>
    </form>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
{% endblock content %}