{% extends "base.html" %}
    
{% block head_title %}
    <title>Consent Form</title>
{% endblock %}

{% block content %}
    <h1>染め直し注意事項</h1>
    <p class="center">注意事項を確認し、ボタンを押してください。</p>
    <form action="{% url 'apparel_list' %}" method="get" onsubmit="return checkConsent()">
        {% csrf_token %}
        {% for consent_text in consent_texts %}
        <div class="card">

            <div class="consent">
                <p id="consent{{ consent_text.text_id }}" style="font-size: 18px;">・{{ consent_text.content }}</p>
                <button type="button" class="consent-button btn btn-primary" onclick="toggleConsent('{{ consent_text.text_id }}')">了承します</button>
                <span class="consent-status" style="margin-left: 10px;"></span>
            </div>
        </div>
        {% endfor %}
        <div class="center" >
            <button type="submit" class="btn btn-primary">染め直し注文へ</button>
        </div>
    </form>

    <script>
        function toggleConsent(id) {
            var consentText = document.getElementById('consent' + id);
            var consentStatus = consentText.nextElementSibling;
            consentStatus.textContent = 'ありがとうございます！';
            consentStatus.style.color = 'black'
            consentStatus.style.backgroundColor = 'pink'
            // 画像に変更したい場合はここで画像を表示する処理を追加することができます
        }

        function checkConsent() {
            var allConsented = true;
            var consentTexts = document.querySelectorAll('.consent p');
            for (var i = 0; i < consentTexts.length; i++) {
                if (consentTexts[i].nextElementSibling.textContent !== 'ありがとうございます！') {
                    allConsented = false;
                    break;
                }
            }
            if (!allConsented) {
                alert("すべての注意事項に了承してください。");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}