{% extends "base.html" %}

{% block content %}
    <h1>注文書詳細</h1>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">注文ID</th>
                <td>{{ product.product_id }}</td>
            </tr>
            <tr>
                <th scope="row">素材</th>
                <td>{{ product.material }}</td>
            </tr>
            <tr>
                <th scope="row">種類</th>
                <td>{{ product.apparel }}</td>
            </tr>
            <tr>
                <th scope="row">価格</th>
                <td>￥{{ product.apparel.price }}</td>
            </tr>
            <tr>
                <th scope="row">送料</th>
                <td>￥{{ product.get_shipping_cost }}</td>
            </tr>
            <tr>
                <th scope="row">合計金額</th>
                <td>￥{{ product.apparel.price|add:product.get_shipping_cost }}</td>
            </tr>
            <tr>
                <th scope="row">アップロード画像</th>
                <td>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="Product Image">
                    {% else %}
                        画像なし
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">注文書作成日</th>
                <td>{{ product.registration_date }}</td>
            </tr>
            <tr>
                <th scope="row">注文書更新日</th>
                <td>{{ product.updated_date }}</td>
            </tr>
            <tr>
                <th scope="row">ユーザー名</th>
                <td>{{ product.user.name|default:"アカウント設定ページで入力してください" }}</td>
            </tr>
            <tr>
                <th scope="row">フリガナ</th>
                <td>{{ product.user.furigana|default:"アカウント設定ページで入力してください" }}</td>
            </tr>
            <tr>
                <th scope="row">電話番号</th>
                <td>{{ product.user.phone_number|default:"アカウント設定ページで入力してください" }}</td>
            </tr>
            <tr>
                <th scope="row">メールアドレス</th>
                <td>{{ product.user }}</td>
            </tr>
            <tr>
                <th scope="row">都道府県</th>
                <td>{{ product.user.prefecture|default:"アカウント設定ページで入力してください" }}</td>
            </tr>
            <tr>
                <th scope="row">住所</th>
                <td>{{ product.user.address|default:"アカウント設定ページで入力してください" }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'profile_edit' %}" class="btn btn-primary">アカウント設定へ</a>
{% endblock %}